.no-organizer-text {
    color: rgba(0, 0, 0, .6);
    text-align: center;
    font-family: $kreon_font;
    font-weight: $reg_weight;
    font-size: 16px;
    span {
        font-family: $ubuntu_font;
        font-weight: $bold_weight;
        color: rgba(0, 0, 0, .86);
    }
}

.organizer-name-list {
    a {
        &, &:hover, &:focus, &:active {
            font-size: 16px;
            color: rgba(black, .8);
        }
    }
}

.organizer-edit {
    a {
        &, &:hover, &:focus, &:active {
            i {
                color: rgba($accent_color, .8);
            }
        }
    }
}

.organizer-delete {
    button {
        border: none;
        background: none;
        i {
            color: rgba(crimson, .8);
        }
    }
}
