
.single-event-card {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid $primary_border_color;
    &:hover {
        box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.005), 0 10px 25px 0 rgba(0, 0, 0, 0.12);
    }
    .single-event-card-cover-image {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-width: 100%;
        display: block;
        img {
            border-style: none;
            vertical-align: middle;
        }
    }
    .single-event-card-short-data {
        padding: 20px;
    }

    .live-event & .single-event-card-heading h4::after {
        content: "\f111";
        font: normal normal normal 14px/1 FontAwesome;
        color: $accent_color;
        padding-left: 10px;
        font-size: 10px;
        line-height: 20px;
    }
}


.single-event-card-date-box {
    font-family: $kreon_font;
    margin-left: -5px;
    width: 40px;
    height: 60px;
    border : 1px solid rgba(0,0,0,.6);
    text-align: center;
    padding: 5px 0px;
    p {

        font-weight: $bold_weight;
        margin: 0;
    }

}

.single-event-card-heading {
    width: 100%;
    font-weight: $medium_weight;
    font-family: $kreon_font;
    text-transform: capitalize;
    margin-top: -10px;
    height: 100px;
    a,
    a:hover {
        color: rgba(0,0,0, .86);
    }
}

.single-event-card-description {
    font-family: $ubuntu_font;
    color: rgba(black, .6);
    font-weight: $reg_weight;
    font-size: 12px;
    text-align: justify;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
}

.single-event-card-footer {
    .single-event-card-footer-privacy,
    .single-event-card-footer-share,
    .single-event-card-footer-bookmark,
    .single-event-card-footer-show,
    .single-event-card-footer-trash {

        border: 1px solid #F3F3F3;
        border-bottom: 0;
        float: left;
        padding: 10px;

    }
    .single-event-card-footer-privacy {
        width: 60%;
        font-weight: $medium_weight;
        font-family: $ubuntu_font;
        letter-spacing: 1px;
        padding-left: 20px;
        text-transform: capitalize;
    }
    .single-event-card-footer-share,
    .single-event-card-footer-bookmark,
    .single-event-card-footer-show,
    .single-event-card-footer-trash {

        text-align: center;
        width: 20%;
        border-left: 0;
    }

    .single-event-card-footer-share,
    .single-event-card-footer-bookmark,
    .single-event-card-footer-show,
    .single-event-card-footer-trash {
        i {
            color: $accent_color;
            cursor: pointer;
        }
    }
}
.event-create-new {
    width: 100%;
    background-color: $accent_color;
    height: 40px;
    color: #fff;
    margin: 40px 0;
    font-family: $ubuntu_font;
    font-weight: $medium_weight;
    text-transform:uppercase;;
    &:hover {
        @extend .event-create-new;
    }
}
