/***
  * ======================================================
  * ======================================================
  *
  * AUTHENTICATION PAGE STYLE SNIPPET
  *
  * ======================================================
  * ======================================================
***/
// Sign In and Sign Up Styling

.auth_bg {
    background-color: $primary_color;
}
.auth_white_bg {
    background-color: #fff;
    box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.005), 0 10px 25px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    margin-top: 25px;
}
.auth-container {
    @extend .lem-flex-container;
    background-color: $primary_color;
    .auth-content {
        @extend .lem-flex-item;
        background-color: #fff;
        padding: 0 25px;
    }
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.effect5 {
    position: relative;
    &::before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        -webkit-box-shadow: 0 35px 20px #777;
        -moz-box-shadow: 0 35px 20px #777;
        box-shadow: 0 35px 20px #777;
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);

    }
    &::after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
    }
}

.auth-heading {
    margin: 40px 0px 40px;
    font-family: $kreon_font;
    font-weight: $medium_weight;
    text-transform: uppercase;
    text-align: center;
}

/*Button Styling*/
.or-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: $kreon_font;
    font-weight: $medium_weight;
}

.auth-input-field {
    input {
        height: 40px;
        margin-bottom: 20px;
        &:focus {
            border-color: $primary_color;
        }
    }
}
.auth-submit-button {
    font-size: 15px;
    font-weight: $medium_weight;
    background-color: $accent_color;
    width: 100%;
    border: none;
    color: #fff;
    height: 50px;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background: $accent_color;
        color:#fff;
        outline: none;
    }

}
.remember-me,
.switch-auth {
    font-family: $ubuntu_font;
    font-weight: $reg_weight;
    line-height: 20px;

}
.remember-me {
    margin-top: 10px;
    text-align: left;
}
.switch-auth {
    margin-top: 25px;
    color: rgba(0,0,0, .85);
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.forgot-password {
    color: $primary_color;
    &:focus,
    &:hover,
    &:active {
        color:$primary_color;
    }
}
.cpassword {
    text-align: right;
    margin-top: 20px;
}


.switch-auth-auth-major {
    color: #000000;
    font-family: $ubuntu_font;
    font-weight: $medium_weight;
}


//Checkbox styling
.remember-me{
    input[type="checkbox"] {
        display: none;
    }
    label {
        cursor: pointer;
    }
    input[type="checkbox"] + label:before {
        border: 1px solid $primary_color;
        border-radius: 5px;
        content: "\00a0";
        display: inline-block;
        font-size: 10px;
        height: 15px;
        margin-right:5px;
        margin-top: 2px;
        padding: 0;
        vertical-align: baseline;
        width: 16px;
        font-weight: $reg_weight;

    }
    input[type="checkbox"]:checked + label:before {
        background: $primary_color;
        color: #fff;
        content: "\2713";
        text-align: center;

    }
    input[type="checkbox"]:checked + label:after {
        font-weight: bold;
    }

}

// Reset password Styling
.lower-space {
    margin-bottom: 20px;
}
// Email reset link styling
.click-reset {
    background-color: $primary_color;
    font-family: $ubuntu_font;
    font-weight: $reg_weight;
}
