/***
  * ======================================================
  * ======================================================
  *
  * CREATE EVENT PAGE STYLE SNIPPETS
  *
  * ======================================================
  * ======================================================
***/


// Default Gap For Each Section
.section-gap {
    margin-top: 10px;
    margin-bottom:50px;
    line-height: 25px;
    h3 {
        text-align: left;
        font-family: $kreon_font;
        font-weight: $bold_weight;
        margin-bottom: 40px;
    }
    .org-h3 {
        text-align: center;
    }

}

// Drag and Drop Image

.sub-event-button,
.add-speaker-button {
    text-transform: capitalize;
    padding: 10px 0;
    font-size: 16px;
    font-weight: $medium_weight;
    background-color: #cdcdcd;
    text-align: center;
    width: 150px;
    margin: 0 10px;
    &:hover,
    &:focus,
    &:active {
        @extend .sub-event-button;
        border: none;
    }
}
.field-hint {
    label {
        font-family: $ubuntu_font;
        font-weight: $medium_weight;
        font-size: 11px;
        letter-spacing: 1.92px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    }
}
.des {
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 5px;
    padding: 10px;
    margin-left: -13px;
    margin-bottom: 0px;
}

.datepicker {
    th, td {
        padding: 2px;
    }

    .datepicker_calendar {
        padding: 10px;
    }
}

.radius-bordering {
    border: 1px solid #ccc;
    border-radius: 5px;
}
// Organizer Section Style
.single-event-page-organizer-select-box {
    background: $dark_primary_color;
    position: relative;
    select,
    option {
        appearance: none;
        -webkit-appearance : none;
        -moz-appearance : none;
        &:hover,
        &:active,
        &:focus {
            outline: none !important;
        }
    }
    select {
        width: 100%;
        font-family: $ubuntu_font;
        font-weight: $reg_weight;
        background: transparent;
        height: 40px;
        color: #fff;
        border: 1px solid $dark_primary_color;
        padding-left: 15px;
        option {
            padding: 20px 15px;
            background-color: #fff;
            border: none;
            border-bottom: 1px solid $primary_color;
            color: rgba(0, 0, 0, .6);
            outline: none;
            &:hover,
            &:active,
            &:focus {
                outline: none;
                background: $primary_color;
            }
        }
    }
    .select-caret {
        color: #fff;
        font-size: 20px;
        position: absolute;
        z-index: 5;
        top: 5px;
        right: 5px;
    }
}


#organizer-about {
    margin-bottom: 15px;
}
.org-finish {
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
    margin: 10px 0;
    opacity: .3;
}
.hr-first-child {
    margin-top: 50px;
}
.hr-last-child {
    margin-bottom: 25px;
}
// Drag and Drop Image Section Style
.upload-bg-color {
    border-radius: 10px;
    background-color: rgba($primary_color, 1);
    margin-top: 60px;
    padding: 20px;

}

#cover-image-preview {
    position: relative;
    overflow: hidden;

    input {
        line-height: 200px;
        font-size: 200px;
        position: absolute;
        opacity: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.flex-container {
    background: transparent;
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &:hover .flex-item {
        opacity: 1;
    }

    .flex-item {
        margin: auto;
        background-color: #FFF;
        padding: 20px;
        border-radius: 10px;
        opacity: 0.4;

        img {
            margin: auto;
            width: 30px;
            height: 30px;
        }
        label {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: medium_weight;
            letter-spacing: 2px;
        }
    }
}



// Create Event Submit Button Style
.create-event-button {
    button, a {
        width: 100%;
    }
}

// Create Ticket Style
.lem-table {

    font-family: $ubuntu_font;
    font-weight: 300;
    td {
        text-align: center;
        width: 25%;
    }
    thead {
        background-color: $primary_color;
        height: 40px;
        tr{
            th {
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 12px;
                color: #fff;
                text-align: center;
                border-bottom: 0;
            }
        }
    }
    tbody {
        border-bottom: 1px solid rgba(128,184,59, .66);
        border-top: 0;
        border-radius: 4px;
        a {
            color: #212121;
            &:hover,
            &:focus,
            &:active {
                @extend a;
            }
        }
        i {
            margin-top: 10px;
            font-size: 18px;
            padding: 0 10px;
            cursor: pointer;
        }
        #tkt-additional-field {
            td {
                text-align: left;
            }
            select {
                color: #212121;
                background-color: transparent;
                padding: 10px 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                option {
                    padding: 2px;
                    margin-bottom: 2px;
                    text-align: justify;

                }
            }
            label {
                font-family: $ubuntu_font;
                font-weight: 300;
                font-size: 12px;
            }
        }
    }
}
.content-padding {
    padding: 5px 0px;
}

// Sub Event and Add Speaker Style
.add-new-icon {
    background: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .flex-item {
        position: absolute;
        top: 50%;
        left: 50% ;
        margin: auto;
        text-align: center;
        i {
            font-size: 18px;
        }
        p {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: medium_weight;
            letter-spacing: 2px;
        }
    }
}
.template-sub-events {
    position: relative;
}

.subevent {
    margin-bottom: 50px;
}

.subevent-template, .form-field-template {
  &.relation-template {
    display: block !important;
  }
}

.add-relation {
    cursor: pointer;
}

.add-subevent, .add-form-field {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .relation-row:not(.relation-template) & {
        display: none;
    }

    &:hover .add-option {
        background-color: $dark_primary_color;
        color: #FFF;
    }
    .add-option {
        text-align: center;
        margin: auto;
        padding: 20px;
    }
}
// floating navbar
.lemmmin-float-bar {
    width: 60px;
    text-align: center;
    background-color: rgba(black, .2);
    position: fixed;
    top: 50%;
    margin-top: -110px;
    z-index: 1000;
    transition-duration: 0;

    .lem-trash {
        color: #FFF;padding: 16px;
        display: block;
        font-size: 20px;
        border: none;
        background-color: transparent;
        width: 60px;
        transition: none;
    }

    a, button{
        padding: 16px;
        display: block;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
        &:hover {
            background-color: $primary_color;
            width:140px;

            &.lem-back::before,
            &.lem-edit::before,
            &.lem-view::before,
            &.lem-guest::before,
            &.lem-trash::before {
                margin-right: 15px;
                transition: width 2s ease;
            }
            &.lem-back::before {
                content: "Back";
            }
            &.lem-view::before {
                content: "View";
            }
            &.lem-edit::before {
                content: "Edit";
            }
            &.lem-trash::before {
                transition-duration: 0;
                content: "Delete";
            }
            &.lem-guest::before {
                content: "Guests";
            }
        }

    }
    &.active {
        background-color: $accent_color !important;
    }
}
