/***
  * ======================================================
  * ======================================================
  *
  * DASHBOARD PAGE STYLE SNIPPETS
  *
  * ======================================================
  * ======================================================
***/

@import 'include/navbar';


// Default Header Style
.default-header {
    background-color: $primary_color;
    margin-bottom: 20px;
    h1 {
        font-size: 43px;
        font-weight: $bold_weight;
        font-family: $kreon_font;
        padding: 20px;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
        vertical-align: baseline;
        margin: 50px 0px;
    }

}


@import 'include/lem_footer';
