
/***
  * ======================================================
  * ======================================================
  *
  * HOMEPAGE STYLE SNIPPETS,
  *
  * ======================================================
  * ======================================================
***/


section.home-head-bg {
    background: url('../../images/home-head.jpg') center center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

.home-subscribe-bg {
    background: #F4F4F4;
}

.home-auth-bg {
    background: $primary_color;
}

.overlay-container {
    background-color: $primary_color_rgba;
}
.overlay-container-lite {
    background-color: rgba(black, .65);
}
.home-head-container {
    @extend .lem-flex-container;
    font-family: $ubuntu_font;
    color: #fff;
    width: 100%;
    height: 500px;
    text-align: left;
    .home-head-content {
        font-weight: $reg_weight;
        width: 100%;
        text-align: left;
        margin: auto;
        h1 {
            font-family: $kreon_font;
            font-weight: $reg_weight;
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            text-transform: none;
            margin-bottom: 50px;
        }

    }
}

.home-search-loc-container {
    @extend .lem-flex-container;

    .home-search-box-select {
        width: 40%;
        float: left;
        background-color: rgba(black,.15);
        position: relative;

        .select-caret {
            position: absolute;
            right: 5px;
            top: (40px-14px)/2;
            color: rgba(black, .75);
            pointer-events: none;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 0;
            background-color: transparent;
            color: rgba(black, .75);
            line-height: 40px;
            padding: 0 20px 0 10px;

            &::-ms-expand {
                display: none;
            }
        }
    }

    .home-search-loc-content {
        @extend .lem-flex-item;

        padding: 25px;
        margin-top: -50px;
        background: #fff;
        box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.005), 0 10px 25px 0 rgba(0, 0, 0, 0.12);

        .home-search-box-input-field {
            border: 1px solid $primary_border_color;
            float: left;
            width: 60%;
            position: relative;
            input {
                padding: 10px;
                width: 100%;
                border: 0;
                line-height: normal;
            }
            .home-search-box-icon {
                position: absolute;
                left: 90%;
                top: 11px;
                i {
                    color: rgba(0,0,0, .25);
                }

            }
        }
    }
}
.featured-event-heading {
    font-family: $kreon_font;
    font-weight: $medium_weight;
    font-size: 25px;
    color: rgba(black, 1);
    margin: 50px 0 30px;
    text-transform: capitalize;
    text-align: center;
}
.home-subscribe-container {
    @extend .lem-flex-container;

    .home-subscribe-content {
        @extend .lem-flex-item;

        h3 {
            color: rgba(0,0,0, 1);
            margin: 50px 0 30px;
            text-transform: capitalize;
        }

        p {
            color: rgba(0,0,0,.50);
            font-size: 14px;
            margin: 20px;
            display: block;
            line-height: 25px;
        }

        .home-subscription {
            background: transparent;
            padding: 0 25px;
            line-height: 25px
        }

        .home-subscription-success {
            color: $accent_color !important;
        }

        .home-subscription-failed {
            color: crimson !important;
        }

        input {
            font-family: $ubuntu_font;
            height: 40px;
            margin-bottom: 20px;
            margin-top: 10px;
            border: 1px solid $primary_border_color;
            box-shadow: none;

            &:hover, &:focus, &:active {
                @extend input;
            }
        }

    }
}

.home-auth-container {
    @extend .lem-flex-container;
    .home-auth-content {
        @extend .lem-flex-item;
        h3 {
            color: rgba(255,255,255, 1);
            margin: 50px 0 30px;
            text-transform: capitalize;
        }
        p {
            color: rgba(255,255,255, .75);
            font-size: 14px;
            margin: 15px 0 30px;
            line-height: 25px;

        }
    }
}
