


// Default Footer Style
.lem-footer {
    background-color: #F5F6F8;
    font-family: $ubuntu_font;
    color: rgba(black,.75);
    line-height: 25px;

    .footer-icon {
        margin-top: 50px;
    }
    .footer-para {
        margin-top: 20px;
    }
    h5 {
        margin-top: 50px;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    p {
        font-size: 12px;
        font-weight: medium_weight;
        line-height: 20px;
        letter-spacing: 1px;
    }
    ul {
        padding: 0;
        list-style-position: inside;

        li {
            text-transform: capitalize;
            font-size: 13px;
        }
    }
    .follow-us {
        li {
            display: inline;
            float:left;
            margin-left: 35px;
        }
        li:first-child {
            margin-left:0px;
        }
        a {
            font-size: 16px;
            color: rgba(black,.75);
            &:hover,
            &:active,
            &:focus {
                @extend a;
                color: $primary_color;
            }
        }
    }
}
// copyright row style
.footer-copyright {
    hr {
        background: #bbb center center no-repeat;
        height: 1px;
    }
    p {
        font-size: 11px;
        color: #212121;
        letter-spacing: 1px;
    }
}
