// Location Service Style

.loc-on-off-checkbox {
    margin-bottom: 50px;
    font-family: $ubuntu_font;
    font-size: 14px;
    font-weight: $medium_weight;
}
.map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: 'Roboto','sans-serif';
    margin: 10px;
    /* Hide the control initially, to prevent it from appearing
       before the map loads. */
    display: none;
}
#map,
#show-map {
    width: 100%;
    height: 500px;
    background-color: grey;
    .map-control {
        display: block;
    }
}
.selector-control {
    border: 1px solid $primary_color;
    background-color: white;
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    &:focus,
    &:active {
        border-color: $primary_color;
    }
}

#loc-offline {
    position: relative;
}
#loc-floating {
    width: 250px;
    border: 2px solid $primary_color;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 15%;
    z-index: 5;
    padding-left: 10px;
    border-radius: 5px;
    padding: 15px;
}
.loc-close {
    position: absolute;
    top: 50px;
    left: 40%;
    z-index: 5;
    background-color: $primary_color;
    text-align: center;
    color: white;
    border-radius: 10%;
    width: 35px;
    align-items: center;
    i {
        cursor: pointer;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 300;
    }
}
#loc-floating {
    .form-group {
        input,
        select {
            margin-bottom: 15px;
            &:hover,
            &:focus,
            &:active {
                border-color: $primary_color;
            }
        }
    }
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    &:focus {
        border-color: $primary_color;
    }
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
    label {
        font-family: $ubuntu_font;
        font-size: 13px;
        font-weight: $light_weight;
    }
}
