@media (min-width:768px) and (max-width: 991px) {
    .organizer-info-heading-small {
        margin-top: 50px;
    }
    .single-event-card-date-box {
        width:25px;
        font-size: 12px;
    }
}
