// Heading Style
.heading {
    font-family: $kreon_font;
    font-weight: $bold_weight;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;

    &.primary-heading {
        font-size: 55px;
        margin: 60px 0;
    }

    &.section-heading {
        font-size: 35px;
        margin: 40px 0;
    }

    &.form-field-heading {
        font-size: 30px;
        margin: 30px 0;
    }

    &.event-card-heading {
        font-size: 25px;
        margin: 20px 0;
    }

    &.footer-content-heading {
        font-size: 20px;
        margin: 10px 0;
    }
}

// Paragraph Style
.paragraph {
    font-family: $ubuntu_font;
    font-weight: $medium_weight;
    line-height: normal;
    letter-spacing: 1px;

    &.para-heading {
        font-size: 18px;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: normal;
        margin: 40px 0;
    }
}

.user-profile .avatar-container {
    padding-top: 25px;
    padding-bottom: 25px;

    .avatar {
        margin-left: auto;
        margin-right: auto;
    }
}


.pagination {
    li {
        margin-left: 5px;
        margin-right: 5px;
        display: block;
        float: left;

        &:first-child > {
            a, span {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:last-child > {
            a, span {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        a, span {
            color: $primary_color;
        }
    }

    .active {
        a, span {
            &, &:hover, &:focus {
                background-color: $primary_color;
                border-color: $primary_color;
            }
        }
    }
}

.btn {
    margin: 20px auto;
    padding: 15px 45px;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: normal;
    font-family: $ubuntu_font;

    &.btn-primary {
        &, &:hover, &:focus, &:active {
            color: #fff;
            background-color: $accent_color;
            border: 1px solid $accent_color;
        }
    }

    &.btn-secondary {
        &, &:hover, &:focus, &:active {
            color: #fff;
            background-color: $primary_color;
            border: 1px solid $primary_color;
        }
    }

    &.btn-default {
        &, &:hover, &:focus, &:active {
            color: #333;
            background-color: #FFF;
            border: 1px solid #ccc;
        }
    }

    &.btn-link {
        margin: 0;
        padding: 0;
        font-size: inherit;
        letter-spacing: normal;
    }

    &.btn-slim {
        padding: 8px 45px;
        margin: 20px 0;
    }
    &.btn-home {
        padding: 8px;
        margin: 5px 0;
    }
    &.btn-fullwidth {
        width: 100%;
    }
    &.btn-halfwidth {
        width: 50%;
    }

    .modal-footer & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.addthis_button_compact .at-icon-wrapper {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $kreon_font;
}

article {

    p, ul, ol, li, dt, dd {
        font-family: $ubuntu_font;
        font-weight: $reg_weight;
        max-height: 100%;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 15px;
    }

    dt {
        font-weight: $bold_weight;
        margin-bottom: 0;
    }
}
