

// Nav Bar Style Section
.navbar-container {
    margin-top: 10px;
}
//Colpase Nav Button Styling
.navbar-toggle {
    border: none;
    background: transparent !important;


    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }
    .top-bar {
        transform: translateX(3px) rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: translateX(3px) rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

.navbar-toggle.collapsed {
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
}

/*Logo Placement*/
.main-logo {
    width: 118px;
}


ul.lem-navbar {
    li {
        margin-right: 10px;
        .create-event-option {
            margin-top: 5px;
            padding: 10px 20px;
            background-color: $accent_color;
            border-radius: 3px;
            color: rgba(255,255,255, 1);
            &:hover {
                @extend .create-event-option;
            }
        }
    }
}
ul.lem-dropdown-menu {
    font-weight: $light_weight;
    font-family: $ubuntu_font;
    line-height: normal;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;

    > li {
        margin-top: 5px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        letter-spacing: normal;
        text-transform: capitalize;

        > a {
            padding: 5px;
            color: rgba(0,0,0, .76);

            &:active,
            &:focus,
            &:hover {
                background-color: $accent_color;
                color: #fff;
            }

            &.profile-link:hover {
                background-color: #FFF;
                color: #80B83B;
            }
        }
    }

    li:first-child {
        font-family: $ubuntu_font;
        margin-bottom: 5px;
        border-bottom: 0;
        font-weight: $bold_weight;
        .auth-email {
            font-weight: $medium_weight;
            text-transform: none;
            color: rgba(black,.5);
        }
    }

    > li:last-child {
        text-align: left;
        border-bottom: 0;

        .lem-logout-button {
            font-weight: $reg_weight;
            text-transform: capitalize;
            padding: 5px;
            text-align: left;
            width: 100%;
            font-size: 16px;
            background-color: transparent;
            color: rgba(0,0,0, .76);
            border: 0;
            border-radius: 0;

            &:active,
            &:focus,
            &:hover {
                background-color: $accent_color;
                color: #fff;
            }
        }
    }
}
.main-nav-font {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: normal;
    font-family: $ubuntu_font;
    color: rgba(black,.75);
    font-weight: $reg_weight;
    text-transform: capitalize;;
}
.nav-gap {
    margin-top: 65px;
}
