.box {
    border: 1px solid $primary_border_color;
    padding: 20px;
    margin: 20px 0;
}

.field {
    margin-bottom: 40px;
}

.order-table {
    .ticket-name {
        text-align: left;
    }

    .ticket-fee, .ticket-quantity, .ticket-total,
    .order-total, .order-fee, .order-subtotal {
        text-align: right;
    }
}
