.pass-list {
    .pass {
        border-bottom: 1px solid $primary_border_color;

        &:last-of-type {
            border-bottom: none;
        }

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }
}
