

/***
  * ======================================================
  * ======================================================
  *
  * SINGLE EVENT PAGE STYLE SNIPPETS
  *
  * ======================================================
  * ======================================================
***/



// Single Event Header Style
.sin-evn-img-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sin-evn-head-container {
    @extend .lem-flex-container;
    font-family: $ubuntu_font;
    color: #fff;
    height: 575px;
    padding-left:20px;
    padding-right: 20px;
    .sin-evn-head-content {
        margin: 0;
        margin-bottom: 76px;
        font-weight: $medium_weight;

        h1 {
            margin-top: 50px;
            font-family: $kreon_font;
            font-size: 40px;
            font-weight: $bold_weight;
            line-height: 50px;
            margin-bottom: 40px;
        }

        p.sin-evn-head-date {
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 30px;
        }

        a {
            padding: 10px 30px;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: $accent_color;
            border: 1px solid $accent_color;
            color: #fff;
            &:hover,
            &:focus,
            &:active {
                @extend a;
            }
        }
    }
}

// Single Event Location Style

.sin-evn-h3 {
    margin: 40px 0 10px;
    h3 {
        font-family: $kreon_font;
        font-weight: $bold_weight;
        margin-bottom: 40px;
        text-align: center;
        text-transform: capitalize;
    }
}
.sin-evn-des-body {
    font-family: $ubuntu_font;
    font-weight: $reg_weight;
    max-height: 100%;
    font-size: 18px;
    white-space: pre-line;;
    line-height: 2;
    margin-bottom: 15px;
}
.data-link-a {
    text-align: center;
}
.sin-evn-loc-info-wrapper {
    position: relative;
    .sin-evn-loc-info-container{
        max-width: 100%;
        background-color: #fff;
        position: absolute;
        top: 70px;
        left: 15%;
        z-index: 5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.sin-evn-loc-info-close {
    padding: 15px;

    i {
        cursor: pointer;
        font-size: 18px;
        color: $accent_color;
        transform: rotate(45deg);
        transition: transform 1s;
    }
}
.sin-evn-loc-info-box {
    @extend .md-kreon-font;
    padding: 20px 40px 30px 30px;
    max-width: 100%;
    h4 {
        margin: 20px 0px;
    }
    ul {
        padding: 0;
        li {
            padding-left: 25px;
            color: rgba(0, 0, 0, .54);
            font-size: 12px;
            margin-bottom: 15px;
            &:before {
                font-family: FontAwesome;
                color: $accent_color;
                content: "\f111";
                display: inline-block;
                margin-left: -25px;
                width: 25px;
                font-size: 8px;
            }
        }
    }
}

.sin-evn-online-event-text,
.sin-evn-all-ticket-purchase-text {
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
    font-weight: $medium_weight;
    font-size: 18px;
    letter-spacing: 1px;
}

.sin-evn-sub-event-schedule {
    background: #f5f5f5;
}
.purchase-tickets-table {
    // Ticket section style
    .ticket-name,
    .ticket-price,
    .ticket-remaining,
    .ticket-quantity {
        width: 100%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;

        .ticket-quantity-change{
            i {
                margin-top: 0;
                font-size: 16px;
                color: $accent_color;
            }
        }
        .ticket-quantity-value {

            width: 60px;
            border: 1px solid $accent_color;
            border-radius: 4px;
            text-align: center;
        }
    }
}
.sin-evn-sub-event-card-container {
    font-family: $kreon_font;
    font-weight: $medium_weight;
    font-size: 18px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    max-height: 300px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 30px;
    .sin-evn-sub-event-card {
        padding: 25px;
        text-align: center;
        margin-bottom: 40px;
        display: block;
        width: 100%;
        height: auto;

        h3 {
            color: rgba(0,0,0,.959);
            margin: 20px 0;
            text-transform: capitalize;
        }
        .sin-evn-sub-event-card-schedule {
            font-size: 18px;
            color: rgba(0,0,0,.851);
            margin-bottom: 20px;
        }
        p {
            color: rgba(0,0,0,.75);
            margin: 10px 0;
        }
    }
    .sin-evn-sub-event-card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $accent_color;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 100%;
        transition: .5s ease;
        overflow-y: scroll;

        p {
            padding: 25px;
            color: rgba(255,255,255, .85);
        }
    }
    &:hover {
        .sin-evn-sub-event-card-overlay {
            height: 100%;
            top: 0;
        }
    }
}
.organizer-name {
    text-align: center;
    font-size: 20px;
    font-weight: $medium_weight;
    font-family: $ubuntu_font;
    text-align: center;
    margin-bottom: 15px;
}
.organizer-about-panel {
    padding: 10px;
    margin-bottom: 15px;

    .organizer-about {
        text-align: center;
    }
}
.social-address-headline {
    margin: 20px 0 25px;
}
.social-address-link {
    padding: 25px 0px;
    text-align: center;
    a {
        margin: 0 15px;
        i {
            font-size: 25px;
            color: rgba(black,.8);
            &:hover, &:focus, &:active {
                color: $accent_color;
            }
        }
    }
}
