section.pass-container {
    padding: 50px 30px;
}
.pass-content-group {
    padding:5px 0;

    .pass-label {
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $ubuntu_font;
        margin: 5px 0px;
        color: rgba(black, .3);
    }
}

.pass-info {
    font-family: $kreon_font;
    font-weight: $medium_weight;
    margin:25px 0 0;
    text-align: left;
}

.pass-user-name, .pass-event-title {
    font-size: 25px;
    color: rgba(black, .9);
}

.pass-user-email {
    font-size: 18px;
    color: rgba(black, .75);
}


.pass-qr-code {
    text-align: center;
    img {
        display: inline-block;
    }
}
.pass-id {
    font-weight: $bold_weight;
    font-size: 20px;
    text-align: center;
}

.ticket-info {
    p {
        font-size: 14px;
    }
}
.hilight-text {
    color: rgba(black, .6);
}
.no-pass-text {
    color: rgba(0, 0, 0, .6);
    text-align: center;
    font-family: $kreon_font;
    font-weight: $reg_weight;
    font-size: 16px;
    span {
        font-family: $ubuntu_font;
        font-weight: $bold_weight;
        color: rgba(0, 0, 0, .86);
    }
}
