@media (max-width: 767px) {
    .navbar-default {
        border-bottom: none;
    }
    .navbar {
        margin-bottom: 0;

        .navbar-container {
            margin-left: 10px;
        }
    }
    .default-header h1 {
        margin: 0;
    }
    .nav-gap {
        margin-top: 0;
    }
    .nav > li {
        border-bottom: 1px solid #e7e7e7;
    }
    .auth-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .create-event-option {
        width: 100%;
        margin: 0;
    }
    .lem-dropdown-menu {
        > li {
            text-align: center;
        }
    }
    ul.lem-dropdown-menu > li:last-child .lem-logout-button {
        text-align: center;
        color: rgba(0,0,0,.5);
        &:hover {
            background: none;
            color: rgba(0,0,0,.75);
        }
    }
    .remember-me {
        text-align: center;
        margin-top: 25px;
    }
    .cpassword {
        text-align: center;
        line-height: 20px;
    }
    .switch-auth {
        margin-top: 10px;
    }
    .lem-flex-container {
        .lem-flex-item {
            width: 100%;
        }
    }

    // show event header section styling
    .sin-evn-head-container {
        height: 100%;
        .sin-evn-head-content {
            margin-top: 70px;
        }
    }
    .single-event-card-date-box {
        width:25px;
        font-size: 12px;
    }
    // show event location info box styling
    .sin-evn-loc-info-wrapper {
        position: relative;
        .sin-evn-loc-info-container{
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    // show event sub event card styling
    .sin-evn-sub-event-card-container {
        margin-bottom: 25px;
    }
    .single-org-list-heading {
        width: 100%;
    }
    .lem-footer {
        text-align: center;
        letter-spacing: 2px;
        .follow-us {
            li {
                float: none;
            }
        }
    }
    .auth_white_bg {
        margin-top: 100px;
    }

    .pass-list .pass {
        text-align: center;
    }
}
