// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Usual Variable Define Section
/*Fonts*/
$ubuntu_font: 'ubuntu', serif;
$kreon_font: 'Kreon', serif;
$light_weight: 300;
$reg_weight: 400;
$medium_weight: 500;
$bold_weight: 700;

/*Basic Colors*/
$primary_color: #488AF8;
$accent_color: #80B83B;
$dark_primary_color: #3B7CE4;

$primary_border_color: rgba(black,.15);
$primary_color_rgba: rgba(72,138,248,.75);
$accent_color_rgba:  rgba(128,184,59, .66);



/*Default css*/
* {
    outline: none;
}

.no-background {
    background: none;
}

.reg-ubuntu-font {
    font-family: $ubuntu_font;
    font-weight: $reg_weight;
}
.reg-kreon-font {
    font-family: $kreon_font;
    font-weight: $reg_weight;
}
.md-ubuntu-font {
    font-family: $ubuntu_font;
    font-weight: $medium_weight;
}
.md-kreon-font {
    font-family: $kreon_font;
    font-weight: $medium_weight;
}
.bd-ubuntu-font {
    font-family: $ubuntu_font;
    font-weight: $bold_weight;
}
.bd-kreon-font {
    font-family: $kreon_font;
    font-weight: $bold_weight;
}
.margin-padding-0 {
    margin: 0;
    padding: 0;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.lem-flex-container {
    text-align: center;
    font-family: $kreon_font;
    font-weight: $medium_weight;
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .lem-flex-item {
        width:55%;
        margin:auto;
        text-align: center;
    }
}
// Common Style Section For Default Layout
a:hover,
a:focus,
a:active,
a:active:focus {
    text-decoration: none;
}
section.container, section.container-fluid {
    padding-bottom: 30px;
}
//Import _auth.scss
@import 'include/auth';
@import 'include/homepage';
@import 'include/dashboard_content';
@import 'include/create_event';
@import 'include/map_style';
@import 'include/show_single_event';
@import 'include/all_events_index';
@import 'include/all_organizers_index';
@import 'include/show_single_organizer';
@import 'include/show_single_pass';
@import 'include/orders';
@import 'include/misc';
@import 'include/pass_list';

@import 'include/xs_app';
@import 'include/md_app';
